CREATE POLICY guardians_admin_select ON public.guardians FOR SELECT TO authenticated USING (EXISTS (SELECT 1 FROM public.users WHERE user_id = auth.uid() AND role IN ('admin', 'dean', 'office', 'faculty')));
